@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

html
{
    height: 100%;
}

body 
{
    font-family: 'Raleway', sans-serif!important;
    color: white!important;
    text-align: center!important;
    height: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: rgb(0,71,96);
    background: radial-gradient(circle, rgba(0,71,96,1) 0%, rgba(3,22,54,1) 100%);
}

footer
{
    background-color: #031636!important;
    position: absolute!important;
    bottom:0%!important;
    width:100%!important;
    padding-top:50px!important;
    z-index: 1;

}

.center {
    position: absolute!important;
    bottom:40%!important;
    width: 100%!important;
    padding-top: 50px!important;
    color: black;
    z-index: 1;

} 

.img_fond
{
    background-image: url("../images/imagedefond.png")!important;
    background-repeat: repeat!important;
    width: 100%;

}   

.img_iut
{
    border-radius: 5px!important;
    width: 175px!important;
    margin-bottom: 35px;
}

.navbar-darkblue
{
    background-color: #031636!important;
    position: relative;
    z-index: 2;
}

h1
{
    font-weight: 500;
}


#carre {
  position: relative;
  margin: auto;
  width: 600px;
  height: 350px;
  /*background: #fff;*/
  border-radius: 20px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.4);
}

.formulaire {
  margin-top: 15%;
  position: absolute;
  box-sizing: border-box; 
  width: 500px;
  height: 500px;
}

label{
  width: 100px;
  margin-right: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #aaa;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"] {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

#message {
	color : #16a085;
}

textarea{
  resize: none;
}