@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

body 
{
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    background-color: #0b3375;
}

footer
{
    background-color: #031636;
}

.center {
    vertical-align: middle;
} 

.img_fond
{
    background-color: black;
    background-image: url("../images/img_fond.jpg");
    background-repeat: no-repeat;
    opacity: 0.75;
}   

.img_iut
{
    border-radius: 15px;
    width: 50%;
}